.env

# for cc
*.o
/cc/**/main
!/cc/**/main/

# Gradle project
/java/**/.gradle/
/java/**/build/
/kotlin/**/.gradle/
/kotlin/**/build/

# for Rust
/rust/**/Cargo.lock
/rust/**/target/

# for Ruby
/ruby/**/.bundle/
/ruby/**/vendor/bundle
/ruby/**/Gemfile.lock

